#nav_banner_header {
    font-weight: 300;
    font-size: 0.6875rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-bottom: 1px
}

.theme-switcher {
    margin-top: 7px;
}

a.nav-link {
    padding-right: 2px;
    border-bottom: 1px solid rgba(var(--bs-primary-rgb));
}

.nav-link a:focus, .nav-link a:hover {
    border-bottom: unset;
}
