{% include "header.html" %}

<div class="page-container">
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Mamba</h2>
                <p class="w-lg-50">Welcome</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="static/img/background/Users.jpg">
                    <div class="card-body p-4">
                        <p class="text-primary card-text mb-0">C&amp;C</p>
                        <h4 class="card-title">Do more faster here</h4>
                        <p class="card-text">Tools and Actors inside</p>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                            <div>
                                <p class="fw-bold mb-0" style="padding-top: 0px;margin-top: 13px;">Users</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="static/img/background/SysOps.jpeg">
                    <div class="card-body p-4">
                        <p class="text-primary card-text mb-0">Graphana</p>
                        <h4 class="card-title">Watch it!</h4>
                        <p class="card-text">Review the server status</p>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                            <div>
                                <p class="fw-bold mb-0" style="margin-top: 13px;">SysOps</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="static/img/background/Executive.jpg">
                    <div class="card-body p-4">
                        <p class="text-primary card-text mb-0">Reports</p>
                        <h4 class="card-title">Summaries</h4>
                        <p class="card-text">If you're here for reporting - it's here!</p>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                            <div>
                                <p class="fw-bold mb-0" style="padding-bottom: 0px;margin-top: 13px;">Executives</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</div>

{% include "footer.html" %}