<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0">
        <link href="/static/bootstrap_exports/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/login_page.css" rel="stylesheet">
        <script src="/static/js/client.js"></script>
</head>
<body style="box-sizing: content-box; min-height:100%; max-height:100%; ">
    <div id="nav-header">
        <script src="/static/js/detect_preferred_theme.js" defer> </script>
    </div>
    <div class="page-container" style="max-height:80%; max-width:60%; max-width:40%; border-radius:25px">
        <div style="font-size: 2em; margin:auto; min-height:100%">
            <div class="prompt-container" style="max-height:80%; max-width:60%; max-width:40%; border-radius:25px">
                <center><span style="margin-top: 60px">Enter your credentials</span></center>
                <div id="form_div" style="margin-bottom: 20px">
                    <form id="prompts" >
                        <div class="sign_in_prompt">
                            <input id="email" type="email" placeholder="user@mamba.net">
                        </div>
                        <div class="sign_in_prompt">
                            <input id="password" type="password" placeholder="password">
                        </div>
                        <div class="sign_in_prompt submit">
                            <input type="submit" value="GO">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<body>
