<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0">
    <title>Django Dashboard</title>
    <link href="/static/bootstrap_exports/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap_exports/assets/css/banner.css" rel="stylesheet">
    <script src="/static/js/client.js"></script>
</head>
<div id="nav-header">
    {% include "banner.html" %}
    <script src="/static/js/detect_preferred_theme.js" defer> </script>
</div>


<body style="height:100%">